<div title="Mostrar indicador" class="botonDesplegable"><img src="/img/TITA-fomento_icon_mostrar-lista.png"></div>

<div class="indicatorList">
	<div class="container-fluid">
	
		<div class="row cabecera">
			<div class="col-sm-12 col-md-12">
				<p id="tituloListadoFamilias" class="fleft"><strong>FAMILIA / </strong>INDICADORES</p>
				<!-- <p class="fright">AÑOS DISPONIBLES</p>	 -->
			</div>
		</div>
		
		<div class="row contenido">
			<div class="col-sm-12 col-md-12" style="padding:0">
				
				<% var idFamilia = -1;
				   var idPadre = -1;
				 	_.each(families, function(family)  {
				 		if(family.cod_familia && idFamilia != family.cod_familia){ %>
				 			<%if(idFamilia != -1){ %>
				 				</div>
				 				<div class="clear"></div>
								<!-- <div class="separador"></div> -->
								<%if(family.fathername && idPadre != family.fathercod && idPadre){ %>
									</div>
									<div class="clear"></div>
									<!-- <div class="separador"></div> -->
								<% }%>
				 			<% }%>

				 			<%if(family.fathername && idPadre != family.fathercod){ %>
				 				<p class="familia"><%= family.fathername%></p>
				 				<div class="indicadores ml20">
				 			<%}
				 			idPadre = family.fathercod;%>
				 			<p class="familia"><%= family.name_familia%></p>
				 				<div class="indicadores">
				 					
				 		<% }
				 			idFamilia = family.cod_familia; %>
				 		<div idIndicador=<%= family.cod_indicador%> class="indicador">
										<p class="nameIndicador"><%= family.name_indicador%></p>
										

										<!-- <img class="indicatorInfo" title="Información" src="/img/TITA_icon_info_capa.svg">  -->
										
										<!-- <a class="fancybox indicatorInfo" title="Información" rel="group" href="/img/TITA_icon_info_capa.svg">Prueba
											<p class="indicatorDescription"><%= family.description%></p>
										</a> -->
										
										<%if(family.pdf){
											var link = "/pdf/" + family.cod_indicador + ".pdf";
											var target = "_blank";
										}else{
											var link = "#" +  family.cod_indicador;
											var target = "";
										}%>
										
										<a  class="fancybox indicatorInfo" href="<%=link%>" target="<%=target%>" title="<%= family.name_indicador%>">
											<img src="/img/TITA_icon_info_capa.svg" alt="">			
										</a>
										


										<% if(family.graficas != 0){ %>
											<img class="fright ml mt mr" title="Contiene información gráfica" src="/img/TITA-fomento_icon_chart.png"> 
										<% } %>
										<!-- <%if(family.count >1){ %>
											<div class="contador">+<%= family.count -1%></div>
										<% }%>
										<p class="anioIndicador"><%= family.fecha%></p>-->
										<div class="clear"></div>
										<p id="<%= family.cod_indicador%>" class="indicatorDescription"><%= family.description%></p>
									</div>
				<% }); %>

				<%if(idPadre != -1){ %>
					</div>
					<!-- <div class="separador"></div> -->
				<% }%>
					
				
				</div>
				 <div class="clear"></div>
				<!-- <div class="separador"></div>				 -->
			</div>
		</div>
		
	</div>
	
</div>

<div title="Mostrar leyenda" class="botonLeyenda">Mostrar leyenda</div>

<div class="leyenda"></div>