<div title="Mostrar indicador" class="botonDesplegable"><img src="/img/TITA-fomento_icon_mostrar-lista.png"></div>


<div class="indicator">	
	<div class="fleft">
		<div title="Volver" class="botonVolver"><img src="/img/TITA-fomento_icon_volver_lista.png"></div>
		<div title="Anterior indicador" class="botonNav ml"><img src="/img/TITA-fomento_icon_ant_lista.png"></div>
		<div title="Siguiente indicador" class="botonNav"><img src="/img/TITA-fomento_icon_sig_lista.png"></div>
	</div>
				
	<div class="title1">
		<p>FAMILIA</p>
		<p>INDICADOR</p>
	</div>
			
	<div class="mt25">
		<p class="title2">Tipología de desplazamiento al lugar de trabajo</p>
		<p class="title3">Porcentaje de personas que se desplazan sólo en moto</p>
	</div>
	<div class="clear"></div>
	<div class="separator"></div>
	
	<div class="cuerpoIndicador">
		<div class="contenido">
			<div class="container-fluid">
				<div class="row cabeceraTabla">
					<div class="col-sm-4 col-md-4">
						<p>ÁREA METROPOLITANA</p>
					</div>
					<div class="col-sm-4 col-md-4">
						<p>POBLACIÓN</p>
					</div>
					<div class="col-sm-4 col-md-4">
						<p>POBLACIÓN %</p>
					</div>
				</div>
				
				<div class="row datos">
					<div class="col-sm-4 col-md-4">
						<p>Almería</p>
					</div>
					<div class="col-sm-4 col-md-4">
						<p>11.492</p>
					</div>
					<div class="col-sm-4 col-md-4">
						<p>5.23 %</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div title="Mostrar leyenda" class="botonLeyenda"><img src="/img/TITA-fomento_icon_ocultar-lista.png"></div>

<div class="leyenda"></div>

<!-- <div class="indicator"></div> -->
