<div id="idIndicador" style="display: none;"> </div>


<div title="Mostrar indicador" class="botonDesplegable"><img src="/img/TITA-fomento_icon_mostrar-lista.png"></div>


<div class="indicator">	
	<div class="fleft">
		<div title="Volver" class="botonVolver"><img src="/img/TITA-fomento_icon_volver_lista.png"></div>
		<div id="anteriorIndicador" title="Anterior indicador" class="botonNav ml"><img src="/img/TITA-fomento_icon_ant_lista.png"></div>
		<div id="siguienteIndicador" title="Siguiente indicador" class="botonNav"><img src="/img/TITA-fomento_icon_sig_lista.png"></div>
	</div>
				
	<div class="title1">
		<p>FAMILIA</p>
		<p>INDICADOR</p>
	</div>
			
	<div class="mt25">
		<p class="title2"></p>
		<p class="title3"></p>
	</div>
	<div class="clear"></div>
	<div class="separator"></div>
	
	<div class="comboFechas"><select></select></div>
	
	<div class="cuerpoIndicador">
		<div class="contenido">
			<div class="container-fluid">
				<div class="row cabeceraTabla"></div>
				<div class="datosTabla"></div>
			</div>
		</div>
	</div>
</div>

<div title="Mostrar leyenda" class="botonLeyenda">Mostrar leyenda</div>

<div class="leyenda"></div>

<!-- <div class="indicator"></div> -->
