<div class="indicatorList">
	<div class="container-fluid">
	
		<div class="row cabecera">
			<div class="col-sm-12 col-md-12">
				<p class="fleft"><strong>FAMILIA / </strong>INDICADORES</p>
				<p class="fright">AÑOS DISPONIBLES</p>	
			</div>
		</div>
		
		<div class="row contenido">
			<div class="col-sm-12 col-md-12" style="padding:0">
				
				<p class="familia">Familia claritas est etiam processus dynamicus</p>
				
				<div class="indicadores">
					<div class="indicador">
						<p class="nameIndicador">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed</p>
						<div class="contador">+2</div> 
						<p class="anioIndicador">2012</p>
					</div>
					
					<div class="indicador">
						<p class="nameIndicador">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed</p>
						<div class="contador">+2</div> 
						<p class="anioIndicador">2012</p>
					</div>
				</div>
				
				<div class="clear"></div>
				<div class="separador"></div>
				
				
				<p class="familia">Familia claritas est etiam processus dynamicus</p>
				
				<div class="indicadores">
					<div class="indicador">
						<p class="nameIndicador">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed</p>
						<div class="contador">+2</div> 
						<p class="anioIndicador">2012</p>
					</div>
					
					<div class="indicador">
						<p class="nameIndicador">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed</p>
						<div class="contador">+2</div> 
						<p class="anioIndicador">2012</p>
					</div>
				</div>
				
				<div class="clear"></div>
				<div class="separador"></div>
				
			</div>
		</div>
		
	</div>
	
</div>