<div id="idIndicador" style="display: none;"> </div>

<div title="Mostrar indicador" class="botonDesplegable"><img src="/img/TITA-fomento_icon_ocultar-lista.png"></div>

<div class="indicator">	
    <!-- <div class="fleft">
        <div title="Volver" class="botonVolver"><img src="/img/TITA-fomento_icon_volver_lista.png"></div>
        <div id="anteriorIndicador" title="Anterior indicador" class="botonNav ml"><img src="/img/TITA-fomento_icon_ant_lista.png"></div>
        <div id="siguienteIndicador" title="Siguiente indicador" class="botonNav"><img src="/img/TITA-fomento_icon_sig_lista.png"></div>
    </div> -->

    <div class="title1">
        <p>FAMILIA</p>
        <p class="tipo"></p>
    </div>

    <div class="mt">
        <p class="title2"></p>
        <p class="title3"></p>
    </div>
    <div class="clear"></div>
    <div class="separator"></div>

    <!-- 	<div class="comboFechas"><select></select></div> -->
    <div class="conmutador_representacion">
        <a  class="active">Datos</a>
        <a 	class="" >Gr&aacute;fica</a>
    </div>
    
    <img class="ampliarView" title="Ampliar" src="/img/TITA-fomento_icon_mas.png">
    
    <div class="cuerpoIndicador">
        <div class="contenido">
            <div class="container-fluid zonaIndicador">
                <div class="row cabeceraTabla"></div>
                <div class="datosTabla"></div>
            </div>
            <div id="zonaChart"></div>
        </div>
    </div>
    
</div>

<!-- <div title="Mostrar leyenda" class="botonLeyenda">Mostrar leyenda</div>
<div class="leyenda"></div> -->
