<div id="project" class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<p class="title1">PROYECTO DE INVESTIGACIÓN</p>
			<p class="title2">TITA</p>
			<p class="title3">Movilidad y reconfiguración urbana y metropolitana</p>
			<p class="title4">INVESTIGADOR PRINCIPAL</p>
			<p class="title5">JOSÉ Mª FERIA TORIBIO</p>
			<p class="title6">
				La presente investigación surge de la evidencia de que la ciudad real en 
				España tiene una escala que sobrepasa nítidamente los límites 
				administrativos municipales para alcanzar una dimensión metropolitana. 
			</p>
			<p class="title7">
				Este hecho afecta tanto a la dimensión funcional, en lo que se refiere, por ejemplo, a la 
				organización y relación entre los lugares de trabajo y los de residencia, como a la dimensión 
				material o urbanística, en la que los procesos de transformación urbana del territorio se 
				extienden por ámbitos cada vez más amplios. El reconocimiento de la relevancia de esta nueva 
				escala de expresión y materialización de lo urbano hace obligada una renovada aproximación 
				teórica y empírica sobre la cuestión, con el fin de ajustar nuestro conocimiento sobre los 
				procesos dominantes en esta materia y con ello orientar convenientemente las políticas públicas.
			
			</p>
		</div>
	</div>
	
</div>