<div id="services" class="container-fluid">
	<div class="row cabeceraTabla">
		<div class="col-sm-12 col-md-12">
			<p>CATEGORÍA</p>
		</div>
	</div>
	
	<div class="row contenido">
		<div class="col-sm-12 col-md-12">
			<p>Lorem ipsum dolor sit amet</p>
			<img data-clipboard-text="http://www.ideandalucia.es/wms/dea100_inf_transportes?" title="Copiar url al portapapeles" src="/img/TITA-fomento_icon_url.png">
			<p>http://www.ideandalucia.es/wms/dea100_inf_transportes?</p>
		</div>
	</div>
	
	<div class="row contenido">
		<div class="col-sm-12 col-md-12">
			<p>Lorem ipsum dolor sit amet</p>
			<img data-clipboard-text="www.geographica.gs" title="Copiar url al portapapeles" src="/img/TITA-fomento_icon_url.png">
			<p>www.geographica.gs </p>
		</div>
	</div>
	
</div>