<div id="services" class="container-fluid">
	<div class="row cabeceraTabla">
		<div class="col-sm-12 col-md-12">
			<p>CATEGORÍA</p>
		</div>
	</div>
	
	<div class="row contenido">
		<div class="col-sm-12 col-md-12">
			<p><strong>Demografía</strong></p>
			<img class="dataClip" data-clipboard-text="http://tita.geographica.gs/geoserver/demografica/wms?" title="Copiar url al portapapeles" src="/img/TITA-fomento_icon_url.png">
			<p>http://tita.geographica.gs/geoserver/demografica/wms?</p>
			<img class="info" title="Información" src="/img/TITA_icon_info_capa.svg">
			<div class="clear"></div>
			<p class="descripcion">Esta categoría contiene indicadores que muestran la dinámica y estructura demográfica de los municipios que componen las Áreas Metropolitanas andaluzas.</p>
		</div>
	</div>
	
	
	<div class="row contenido">
		<div class="col-sm-12 col-md-12">
			<p><strong>Movilidad</strong></p>
			<img class="dataClip"  data-clipboard-text="http://tita.geographica.gs/geoserver/movilidad/wms?" title="Copiar url al portapapeles" src="/img/TITA-fomento_icon_url.png">
			<p>http://tita.geographica.gs/geoserver/movilidad/wms?</p>
			<img class="info" title="Información" src="/img/TITA_icon_info_capa.svg">
			<div class="clear"></div>
			<p class="descripcion">Esta categoría contiene indicadores que representan las pautas de movilidad en los municipios que componen las Áreas Metropolitanas andaluzas.</p>
		</div>
	</div>
	
	
	<div class="row contenido">
		<div class="col-sm-12 col-md-12">
			<p><strong>Usos urbanos</strong></p>
			<img class="dataClip"  data-clipboard-text="http://tita.geographica.gs/geoserver/usos_urbanos/wms?" title="Copiar url al portapapeles" src="/img/TITA-fomento_icon_url.png">
			<p>http://tita.geographica.gs/geoserver/usos_urbanos/wms? </p>
			<img class="info" title="Información" src="/img/TITA_icon_info_capa.svg">
			<div class="clear"></div>
			<p class="descripcion">Esta categoría contiene indicadores que permiten el estudio de la evolución de usos urbanos de las Áreas Metropolitanas andaluzas.</p>
		</div>
	</div>
	
	<div class="row contenido">
		<div class="col-sm-12 col-md-12">
			<p><strong>Centros funcionales de actividad</strong></p>
			<img class="dataClip"  data-clipboard-text="http://tita.geographica.gs/geoserver/centros_funcionales/wms?" title="Copiar url al portapapeles" src="/img/TITA-fomento_icon_url.png">
			<p>http://tita.geographica.gs/geoserver/centros_funcionales/wms? </p>
			<img class="info" title="Información" src="/img/TITA_icon_info_capa.svg">
			<div class="clear"></div>
			<p class="descripcion">Esta categoría contiene indicadores que analizan los grandes centros de actividad de las Áreas Metropolitanas andaluzas, su configuración espacial y su distrubución.</p>
		</div>
	</div>
	
	<div class="row contenido">
		<div class="col-sm-12 col-md-12">
			<p><strong>Mapa base</strong></p>
			<img class="dataClip"  data-clipboard-text="http://tita.geographica.gs/geoserver/mapa_base/wms?" title="Copiar url al portapapeles" src="/img/TITA-fomento_icon_url.png">
			<p>http://tita.geographica.gs/geoserver/mapa_base/wms?</p>
			<img class="info" title="Información" src="/img/TITA_icon_info_capa.svg">
			<div class="clear"></div>
			<p class="descripcion">Cartografía que muestra las principales unidades territoriales en las que se basan los indicadores (el límite de la comunidad autónoma de Andalucía, las Áreas Metropolitanas de Andalucía y los municipios que las componen.</p>
		</div>
	</div>
</div>