<div id="services" class="container-fluid">
	<div class="row cabeceraTabla">
		<div class="col-sm-12 col-md-12">
			<p>CATEGORÍA</p>
		</div>
	</div>
	
	<div class="row contenido">
		<div class="col-sm-12 col-md-12">
			<p><strong>Usos de suelo</strong></p>
			<img class="dataClip" data-clipboard-text="http://tita.geographica.gs/geoserver/movitra_ogc_usos_suelo/wms?" title="Copiar url al portapapeles" src="/img/TITA-fomento_icon_url.png">
			<p>http://tita.geographica.gs/geoserver/movitra_ogc_usos_suelo/wms?</p>
			<img class="info" title="Información" src="/img/TITA_icon_info_capa.svg">
			<div class="clear"></div>
			<p class="descripcion ml mb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce magna nunc, tempus et lorem in, venenatis faucibus neque. Vivamus cursus nulla a interdum sagittis. Duis vehicula dui a orci bibendum porta. Nulla viverra auctor elit vitae pharetra. Suspendisse potenti. Cras urna lorem, convallis at velit vitae, viverra imperdiet dui</p>
		</div>
	</div>
	
	
	<div class="row contenido">
		<div class="col-sm-12 col-md-12">
			<p><strong>Movilidad</strong></p>
			<img class="dataClip"  data-clipboard-text="http://tita.geographica.gs/geoserver/movitra_ogc_movilidad/wms?" title="Copiar url al portapapeles" src="/img/TITA-fomento_icon_url.png">
			<p>http://tita.geographica.gs/geoserver/movitra_ogc_movilidad/wms?</p>
			<img class="info" title="Información" src="/img/TITA_icon_info_capa.svg">
			<div class="clear"></div>
			<p class="descripcion ml mb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce magna nunc, tempus et lorem in, venenatis faucibus neque. Vivamus cursus nulla a interdum sagittis. Duis vehicula dui a orci bibendum porta. Nulla viverra auctor elit vitae pharetra. Suspendisse potenti. Cras urna lorem, convallis at velit vitae, viverra imperdiet dui</p>
		</div>
	</div>
	
	
	<div class="row contenido">
		<div class="col-sm-12 col-md-12">
			<p><strong>Centros de actividad</strong></p>
			<img class="dataClip"  data-clipboard-text="http://tita.geographica.gs/geoserver/movitra_ogc_centros_actividad/wms?" title="Copiar url al portapapeles" src="/img/TITA-fomento_icon_url.png">
			<p>http://tita.geographica.gs/geoserver/movitra_ogc_centros_actividad/wms?</p>
			<img class="info" title="Información" src="/img/TITA_icon_info_capa.svg">
			<div class="clear"></div>
			<p class="descripcion ml mb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce magna nunc, tempus et lorem in, venenatis faucibus neque. Vivamus cursus nulla a interdum sagittis. Duis vehicula dui a orci bibendum porta. Nulla viverra auctor elit vitae pharetra. Suspendisse potenti. Cras urna lorem, convallis at velit vitae, viverra imperdiet dui</p>
		</div>
	</div>
	
	<div class="row contenido">
		<div class="col-sm-12 col-md-12">
			<p><strong>Cartografía base</strong></p>
			<img class="dataClip"  data-clipboard-text="http://tita.geographica.gs/geoserver/movitra_ogc_cartografia_base/wms?" title="Copiar url al portapapeles" src="/img/TITA-fomento_icon_url.png">
			<p>http://tita.geographica.gs/geoserver/movitra_ogc_cartografia_base/wms?</p>
			<img class="info" title="Información" src="/img/TITA_icon_info_capa.svg">
			<div class="clear"></div>
			<p class="descripcion ml mb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce magna nunc, tempus et lorem in, venenatis faucibus neque. Vivamus cursus nulla a interdum sagittis. Duis vehicula dui a orci bibendum porta. Nulla viverra auctor elit vitae pharetra. Suspendisse potenti. Cras urna lorem, convallis at velit vitae, viverra imperdiet dui</p>
		</div>
	</div>

</div>